<div class="px-8 py-14 place-content-center flex flex-col gap-10 lg:gap-6 lg:col-start-5 lg:row-start-1 lg:col-span-3 xl:px-24 xl:py-28">
  <div class="flex flex-col gap-4 lg:gap-5">
    <h1 class="leading-[0.95] font-semibold text-[2.5rem] lg:text-[3rem] tracking-[-0.1rem]">Discover innovative ways to decorate</h1>
    <p class="text-dark-gray font-medium leading-snug tracking-tight">
      We provide unmatched quality, comfort, and style for property owners across the country. Our experts combine form and function in
      bringing your vision to life. Create a room in your own style with our collection and make your property a reflection of you and what
      you love.
    </p>
  </div>

  <a
    href="#"
    class="flex flex-row tracking-[0.78rem] gap-8 uppercase text-[15px] font-medium hover:text-dark-gray focus:text-dark-gray items-center group"
  >
    Shop now

    <svg width="40" height="12" xmlns="http://www.w3.org/2000/svg" class="group-hover:translate-x-2 group-focus:translate-x-2 duration-200"
      ><path
        d="M34.05 0l5.481 5.527h.008v.008L40 6l-.461.465v.063l-.062-.001L34.049 12l-.662-.668 4.765-4.805H0v-1h38.206l-4.82-4.86L34.05 0z"
        fill="#000"
        fill-rule="nonzero"></path></svg
    >
  </a>
</div>
